.link_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.link_wrapper a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: x-large;
}

.toolbar {
  border-bottom: 5px solid #000000;
}
