.node {
  stroke: white;
  stroke-width: 2px;
}
.nav {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 200;
}

.select {
  position: absolute;
  top: 0;
  left: 50%;
}

#network {
  height: 100%;
  width: 100%;
}

#intro {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  left: 0;
  right: 0;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h4 {
  font-family: "Stick No Bills", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper {
  height: 100%;
  background-image: url("../../assets/img/bg-striped.png");
}

#network {
  display: inline-block;
  position: relative;
  width: 100vw;
  padding-bottom: 100vh;
  height: 0;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
