<div class="menuWrapper">
    <mat-card><h2>Filter</h2></mat-card>

    <mat-accordion class="networkMenuWrapper">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    by domain
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!--s<section class="checkBoxContainer">
                <span class="example-list-section">
                  <mat-checkbox
                                [checked]="allComplete"
                                [indeterminate]="someComplete()"
                                (change)="setAll($event.checked)">
                    all
                  </mat-checkbox>
                </span>
                <span class="example-list-section">
                  <ul>
                    <li *ngFor="let domain of domains">
                      <mat-checkbox [(ngModel)]="subtask.completed"
                                    [color]="subtask.color"
                                    (ngModelChange)="updateAllComplete()">
                        {{subtask.name}}
                      </mat-checkbox>
                    </li>
                  </ul>
                </span>
              </section>-->
            <section class="checkBoxContainer" id="domainCheckBoxContainer">
                <mat-checkbox class="checkBox" *ngFor="let domain of domains" (change)="this.checkBoxChange($event, domain.name)" class="checkBox">{{domain.name}}</mat-checkbox>
            </section>
            <button (click)="this.changeSelection()" mat-flat-button color="primary">Apply</button>
        </mat-expansion-panel>
      
    </mat-accordion>
    
</div>
