<!-- <app-navbar></app-navbar> -->
<div class="nav">
  <div class="icon_wrapper">
    <a mat-button [routerLink]="'/bar'" routerLinkActive="active">
      <div class="icon">
        <fa-icon [icon]="faChartBar"></fa-icon>
      </div>
    </a>
    <a mat-button [routerLink]="'/network'" routerLinkActive="active">
      <div class="icon">
        <fa-icon [icon]="fadiagram"></fa-icon>
      </div>
    </a>
  </div>
</div>
<div class="data">
  <ul>
    <li (click)="changeDataSet('all')">Swiss & Alt</li>
    <li (click)="changeDataSet('swiss')">Swiss only</li>
    <li (click)="changeDataSet('alt')">Alt only</li>
  </ul>
</div>
<div class="wrapper" style="
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  ">

  <router-outlet></router-outlet>
</div>