<app-navbar></app-navbar>
<div class="data">
  <ul>
    <li [ngClass]="{ bording: active == 'all' }" (click)="changeDataSet('all')">
      Swiss & Alt
    </li>
    <li
      [ngClass]="{ bording: active == 'swiss' }"
      (click)="changeDataSet('swiss')"
    >
      Swiss only
    </li>
    <li [ngClass]="{ bording: active == 'alt' }" (click)="changeDataSet('alt')">
      Alt only
    </li>
  </ul>
</div>
<div
  class="wrapper"
  style="
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  "
>
  <router-outlet></router-outlet>
</div>
