<app-navbar></app-navbar>
<div class="data">
  <ul>
    <li
      [ngClass]="{ bording: active == 'swiss' }"
      (click)="changeDataSet('swiss')"
    >
      Popular Swiss Sites
    </li>
    <li [ngClass]="{ bording: active == 'alt' }" (click)="changeDataSet('alt')">
      Alternative Media Sites
    </li>
    <li [ngClass]="{ bording: active == 'all' }" (click)="changeDataSet('all')">
      Popular & Alternative
    </li>
    <li
      [ngClass]="{ bording: active == 'schwaiger' }"
      (click)="changeDataSet('schwaiger')"
    >
      Alternative Media Schwaiger
    </li>
  </ul>
</div>
<div
  class="wrapper"
  style="
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  "
>
  <router-outlet></router-outlet>
</div>
<div class="download">
  <mat-icon
    (click)="downloadZipFile()"
    matTooltip="Download the raw data of all datasets"
    >cloud_download</mat-icon
  >
</div>
