body {
  margin: 0;
}

.icon_wrapper {
  cursor: pointer;
  display: flex;
}

.active {
  border-bottom: 4px black solid;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.nav {
  position: absolute;
  width: 100%;
  display: flex;
}

.nav a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.icon {
  font-size: 40px;
  margin: 10px;
}
.wrapper {
  background-image: url("../assets/img/bg-striped.png");
}
