body {
  margin: 0;
}

.data {
  position: absolute;
  top: 150px;
  font-family: "Merriweather", serif;
  z-index: 100;
}

.data li {
  list-style: none;
  cursor: pointer;
  font-size: large;
  margin-bottom: 5px;
}

.data ul {
  margin-left: 0;
  padding-left: 2px;
}

.bording {
  border-bottom: 4px black solid;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}
.wrapper {
  background-image: url("../assets/img/bg-striped.png");
}
.download {
  position: fixed;
  bottom: 30px;
  right: 60px;
  z-index: 100;
  cursor: pointer;
}

mat-icon {
  font-size: 50px;
  color: rgb(58, 58, 58);
}
