<main>
  <div class="landingPageContent">
    <h1 id="intro">Third Party Request Visualization</h1>
    <section>
      <h2>Motivation</h2>
      <ul>
        <li>
          Analyze and visualize web traffic by combining client-based browser
          automation (webXray) with modern data visualization tools.
        </li>
        <li>
          Description of online advertisement ecosystem
          <figure>
            <img src="./assets/img/ecosystem.jpg" alt="ad ecosystem" />
          </figure>
        </li>
        <li>
          Significance of online advertisement for websites propagating
          disinformation, data collection of online users for pre-targeting
          purposes in disinformation campaigns.
          <figure>
            <img src="./assets/img/threat.jpg" alt="threat" />
          </figure>
        </li>
        <li>
          Highlight extent of third-party HTTP requests of popular websites in
          Switzerland and of alternative media websites. Education of citizens.
        </li>
      </ul>
    </section>
    <section>
      <h2>Methods</h2>
      <h3>This website uses the following technologies:</h3>
      <ul>
        <li>
          <a href="https://angular.io/" target="_blank">Angular</a>: A
          typescript framework used to build this website.
        </li>
        <li>
          <a href="https://d3js.org/" target="_blank">d3</a>: A JavaScript
          library used for all the data visualizations.
        </li>
        <li>
          <a href="https://webxray.org/" target="_blank">webXray</a>: A tool
          programmed in python that automatically collects traffic data in a
          chrome browser. The collected data is saved in a database.
          <figure>
            <img src="./assets/img/webXray_scheme.svg" alt="webXray scheme" />
          </figure>
        </li>
        <li>
          <a href="https://www.klazify.com/" target="_blank">Klazify</a>: A
          webservice that gathers information on a given url (e.g. country or
          company).
        </li>
      </ul>
    </section>
    <section>
      <h2>Contact</h2>
      <p>
        Digital Sustainability Lab<br />
        Berner Fachhochschule<br />
        Business School<br />
        Institut Public Sector Transformation<br />
        Brückenstrasse 73<br />
        CH-3005 Bern<br />
        Email: <a href="mailto:dsl@bfh.ch" target="_blank">dsl@bfh.ch</a>
      </p>
    </section>
  </div>
</main>
