main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingPageContent {
  max-width: 1000px;
  padding: 50px;
  background-color: white;
}

p,
ul {
  font-size: 1.2em;
}

figure {
  margin: 0;
  margin-bottom: 15px;
}

img {
  width: 80%;
}

h2 {
  font-size: 2rem;
}
